// *************************************
//
//   Button
//   -> Clickable control
//
// *************************************

// ---------------------------
// Default button styles
// ---------------------------

@mixin button-base {
  @include ripples;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 2px;
  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: $box-shadow-default;
  transition: .2s ease-out;
  font-size: 0.938em;
  height: 36px;
  line-height: 35px;
  -webkit-font-smoothing: antialiased;

  .tnl-Forms_AdjacentTextAndAddon-after & {
    border-radius: 0 3px 3px 0;
    box-shadow: none;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Base sizes ----- //
@mixin button-size-small {
  padding: .3rem;
  width: auto;
  height: auto;
  line-height: initial;
  font-size: $font-size-s;
}

@mixin button-size-medium {
  padding: 0 .8rem;

  @include mq(mobile) {
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
}



// ----- Base themes ----- //
@mixin button-color($color, $text-color) {
  background-color: $color;
  color: $text-color;

  &:visited { color: $text-color; }

  &:hover {
    background-color: darken($color, 5);
    box-shadow: $box-shadow-default-hover;
    text-decoration: none;
  }
}

// ----- Base icons ----- //
@mixin button-icon($icon-file) {
  .tnl-ButtonIcon {
    @include icon($icon-file);
  }
}

// -------------------------------------
//   Types
// -------------------------------------

// ----- Default Buttons ----- //
[type='submit']:not([class]) {
  @include button-base;
  @include button-size-medium;
  @include button-color($white, $grey-darkest);
  border: 1px solid $grey-lighter;
}

[type='submit'][disabled],
[class^="tnl-Button"].disabled {
  cursor: not-allowed;;
  border: 1px solid $grey-light;
  background: $grey-lightest;
  color: $grey-lighter;

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  }
}

.tnl-Button-small {
  @include button-base;
  @include button-size-small;
  @include button-color($white, $grey-darkest);
  border: 1px solid $grey-lighter;
}

.tnl-Button {
  @include button-base;
  @include button-size-medium;
  @include button-color($white, $grey-darkest);
  border: 1px solid $grey-lighter;
}

// ----- Call to action Button ----- //
.tnl-Button-ctaSmall {
  @include button-base;
  @include button-size-small;
  @include button-color($color-tertiary, $white);
}

.tnl-Button-cta {
  @include button-base;
  @include button-size-medium;
  @include button-color($color-tertiary, $white);
}

// ----- Disabled Button ----- //
.tnl-Button-disabledSmall {
  @include button-base;
  @include button-size-small;
  @include button-color($grey-lightest, $font-color-disabled);
  box-shadow: none;
}

.tnl-Button-disabled {
  @include button-base;
  @include button-size-medium;
  @include button-color($grey-lightest, $font-color-disabled);
  box-shadow: none;
}

// ----- Success Button ----- //
.tnl-Button-success {
  @include button-base;
  @include button-size-medium;
  @include button-color($color-success, $white);
}

// ----- Alert Button ----- //
.tnl-Button-alert {
  @include button-base;
  @include button-size-medium;
  @include button-color($color-alert, $white);
}

// ----- Error Button ----- //
.tnl-Button-errorSmall {
  @include button-base;
  @include button-size-small;
  @include button-color($color-error, $white);
}

.tnl-Button-error {
  @include button-base;
  @include button-size-medium;
  @include button-color($color-error, $white);
}

// ----- Social Buttons ----- //
.tnl-Button-facebook {
  @include button-base;
  @include button-size-medium;
  @include button-color($facebook-blue, $white);
  @include button-icon(facebook);
}

.tnl-Button-twitter {
  @include button-base;
  @include button-size-medium;
  @include button-color($twitter-blue, $white);
  @include button-icon(twitter);
}

.tnl-Button-google {
  @include button-base;
  @include button-size-medium;
  @include button-color($google-red, $white);
}

.tnl-Button-whatsapp {
  @include button-base;
  @include button-size-medium;
  @include button-color($whatsapp-green, $white);
  @include button-icon(whatsapp);

  @include mq(desktop) {
    display: none;
  }
}
